nav,
header {
  padding: 10px;
  text-align: center;
}

h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px #ccc solid;
  font-style: italic;
  font-size: 20px;
}

.float-calendar {
  height: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 10;
}
