body {
  background-color: #f7f6f3;
}

nav,
header {
  padding: 10px;
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px #ccc solid;
  font-style: italic;
  font-size: 20px;
}

a.btn.active {
  background-color: #d6d6d5;
  color: #46462d;
}

.btn--group a.btn:hover {
  background-color: #d6d6d5;
  color: #46462d;
  border-color: #c0c2c3;
}

.float-calendar {
  height: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 10;
}

.code-example {
  margin-bottom: 0.86em;
}

.code-example p {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.code-example pre {
  margin-top: 0px;
}

.code-example code {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.kalendae {
  border: 1px #c7c7c7 solid;
  margin: 0px;
}
