<h2>Date Range</h2>
<p>Kalendae can be configured to pick ranges.</p>

<h3>In Action</h3>
<form>
  <div class="inline-parent">
    <fieldset class="inline-child">
      <label for="dateRange">Date Range</label>
      {{input
        placeholder="No date range selected"
        value=selectedDateFormatted
        readonly=true
        id="dateRange"
      }}
      {{ember-kalendae
        mode="range"
        months=2
        onDidChange=(action "onChange")
        selected=selectedDate
      }}
    </fieldset>
  </div>
</form>

<h3>Code Example</h3>
<p class="message green"><b>Controller.js</b></p>
{{ember-gisty user="shak" gist="08d917c188d9d8e97a826162d28d5d10" filename="controller.js"}}

<p class="message blue"><b>Template.hbs</b></p>
{{ember-gisty user="shak" gist="08d917c188d9d8e97a826162d28d5d10" filename="template.hbs"}}