<header>
  <h1 class="content--align-center"><a rel="noopener" target="_blank" href="https://github.com/shak/ember-cli-kalendae">Ember CLI Kalendae</a></h1>
  <h5 class="content--align-center">Ember CLI wrapper for the excellent <a rel="noopener" target="_blank" href="https://github.com/ChiperSoft/Kalendae">Kalendae</a></h5>
  <p class="social">
    <a class="no-line" href="https://github.com/shak" rel="noopener" target="_blank"><img alt="github logo"src="assets/img/github.png"/> @shak</a> &nbsp;&nbsp;
    <a class="no-line" href="https://twitter.com/shahrukhomar" rel="noopener" target="_blank"><img alt="twitter logo" src="assets/img/twitter.png"/> @shahrukhomar</a>
  </p>
</header>
<nav>
  <div class="btn--group">
    {{#link-to "examples.single-date-picker" class="btn btn--color-default"}}All Dates{{/link-to}}
    {{#link-to "examples.single-date-picker-with-blackout" class="btn btn--color-default"}}Restricted Dates{{/link-to}}
    {{#link-to "examples.date-range-picker" class="btn btn--color-default"}}Date Range{{/link-to}}
  </div>
</nav>
<content class="row row--align-center">
  <div class="grid-10">
    {{outlet}}
  </div>
</content>