<header>
  <h1 class="content--align-center">Ember CLI Kalendae</h1>
  <h5 class="content--align-center">Ember CLI wrapper for the excellent Kalendae</h5>
</header>
<nav>
  <div class="btn--group">
    {{#link-to "examples.single-date-picker" class="btn btn--color-default"}}Single Dates{{/link-to}}
  </div>
</nav>
<div class="row row--align-center">
  <div class="grid-10">
    {{outlet}}
  </div>
</div>